.authentication_nav {
    width: 400px;
    height: 200px;
    display: none;
}
#sign_form, #forgot_form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: greenyellow;*/
}
#loading {
    background-image: url(/template/img/8.svg);
    background-size: 100%;
}

#hint_area {
    width: 400px;
    height: 200px;
    font-size: 14px;

    opacity: 0;
}