#media_div {
    width: 640px;
    height: 480px;
}

#video, #upload_img {
    display: none;
    position: relative;
    border: 3px solid black;
    width: 640px;
    height: 480px;
    z-index: 0;
}

.emoji {
    cursor: pointer;
    /*width: 64px;*/
    /*height: 64px;*/
    /*cursor: url('путь к курсору1'), url('путь к курсору2'), ..., <ключевое слово>*/
}

#upload_input {
    opacity: 0;
    height: 0;
    width: 0;
}

#main_div, #side_div {
    height: 800px;
}

#main_div {
    float: left;
}

#side_div {
    float: right;
    width: 200px;
    background-color: orange;
}

#side_div img {
    width: 160px;
    height: 120px;
}