body.selfie {
    min-width: 500px;
}

div#media_container {
	margin-top: 50px;
}

div#media_div {
	box-shadow: 3px 3px 2px grey;
	padding: 0;
	overflow: hidden;
	border-radius: 3px;
}

#video, #upload_img {
	display: none;
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 3px;
	z-index: 0;
}

#button_div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	position: absolute;
	right:-30px;
	top:0;
	bottom:0;
}

.text_button {
	height: 90px;
	width: 90px;
	font-size: 200%;
	color: black;
	font-family: Cabin, sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-transform: rotate(270deg); 
	transform: rotate(270deg);
}

#upload_input {
	opacity: 0;
	height: 0;
	width: 0;
}

.media_buttons_disabled {
	color: #999999;
	cursor: default;
}

div.emoji_div {
	padding-top: 20px;
	padding-bottom: 10px;
	display: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	flex-wrap: wrap;
}

div#emoji_tab {
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

img.emoji-img {
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	width: 100%;
	border-radius: 30%;
}

.emoji {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.tab_buttons_enabled {
	background: white;
	cursor: default;
}


#side_login {
	z-index: 999;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: Gloria, cursive;
	font-size: 250%;
	background-color: #e9e9e9;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#sidebar {
	overflow: hidden;
	background-color: transparent;
}
#side_div {
	height: 0;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: all 2s ease-in-out;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
}
.side_image {
	background-size: 100% 100%;
	width: 60%;
	height: auto;
	border-radius: 5px;
  }

.side_image img {
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
}
.side_image img:hover {
	opacity: 0.9;
}

@media only screen and (max-width: 991px) {
	div#emoji_tab {
		flex-direction: row;
		padding-left: 0;
	}
	img.emoji-img {
		width: 5%;
	}
	div#button_div {
		position: relative;
		right: 0;
		flex-direction: row;
	}
	div.text_button {
		-webkit-transform: none; 
		transform: none;
	}
}
