/*
#main_div {
    height: 800px;
}
#main_div {
    width: 800px;
    float: left;
}

#media_div, .emoji_div {
    float: left;
    width: 640px;
}*/

#media_div {
    /*height: 480px;*/
    overflow: hidden;
    border: 3px solid black;
}

.emoji_div {
    display: none;
}
/*
#button_div, #emoji_tab {
    float: left;
    width: 150px;
}
#button_div {
    height: 480px;
}
*/
/*#emoji_tab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
*/

#video, #upload_img {
    display: none;
    position: relative;
    width: 640px;
    height: 480px;
    z-index: 0;
}

.emoji {
    cursor: pointer;
    /*cursor: url('путь к курсору1'), url('путь к курсору2'), ..., <ключевое слово>*/
}

.tab_buttons_enabled{
    background-color: green;
}
.tab_buttons_disabled {
    background-color: red;
}

#upload_input {
    opacity: 0;
    height: 0;
    width: 0;
}

#sidebar {
    overflow: hidden;
    /*width: 200px;*/
    float: right;
    background-color: orange;

}
#side_div {
    top: -20px;
    /*width: 100%;*/
    height: 0;

    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
}
.side_image {
    background-size: 160px 120px;
    width: 160px;
    height: 120px;
  }
.side_image img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
}
.side_image img:hover {
    opacity: 0.7;
}

#side_button {
    position: relative;

    width: 100%;
    height: 50px;
    background-color: red;
}