@import "/template/css/_reset.css";
@import "/template/css/header.css";
@import "/template/css/authentication.css";
@import "/template/css/selfie.css";
@import "/template/css/gallery.css";
@import "/template/css/recovery.css";

body {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #e9e9e9;
    font-family: sans-serif;
}

footer hr {
    width: 100%;
    margin: 0;
}
footer div {
    width: 100%;
    min-height: 50px;

    font-size: 20px;
    font-family: 'Acme', sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
footer span {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 30px;
    line-height: 30px;
}


.window_error {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 80px;
    background-color: red;
    transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
}

a.button {

    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    /*color: rgb(209,209,217);*/
    color: #e9e9e9;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: .2s ease-in-out;
}

a.button:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
a.button:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

a.menu_link {
    color: #5F5E5E;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .6s ease;
}
a.menu_link:hover {color: #FBBA00;}

input.input_field {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 200px;
    height: 30px;
    text-align: center;
}

/*@media(max-width: 768px) {*/